* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/red.jpg);
    /* background-size: 100% 100%; */
}

header {
    text-align: center;
    padding: 15px;
    color: white;
}

.frm {
    
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 100px;
}

.frm input {
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
}

#qrData {
    padding: 5px;
}
